<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web Service 1 </title>
    <style>
      body {
        background: rgb(35, 39 ,42);
      }
      .content {
        background: rgb(35 ,39,42);
      max-width: 500px;
      margin: auto;
      
      flex-direction: column;
      padding-top: 10%;
      font-size: 20px;
      
      }
      h1 {
      text-align: center;
      color:rgb(254, 190, 16) ;
      }
      
      </style>
  </head>
  <h1>Pick your favourite movie line</h1>
  <body>
    <div class="content">
    <form action="" method = "POST">
      <label style="color:rgb(228, 228, 228);" for="input">Type the quote you want to search:</label>
      <input type = "text" name = "quote_attribute" placeholder="Enter quote here" size=25 > 
      
    </form>
  </div>
     
      

    
    
  </body>
</html>